<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!--添加配置节点-->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<log4net outdate_days="2">
		<!--我的日志类-->
		<logger name="mylogger">
			<level value="DEBUG" />
			<appender-ref ref="myloggerAppender" />
		</logger>

		<!--日志保存到文件里面 txt-->
		<appender name="myloggerAppender" type="log4net.Appender.RollingFileAppender">
			<!--日志路径 网站根目录下面的logs-->
			<param name="File" value="logs/" />
			<!--是否是向文件中追加日志-->
			<param name="AppendToFile" value="true" />
			<!--每天记录的日志文件个数，与maximumFileSize配合使用-->
			<param name="MaxSizeRollBackups" value="10" />
			<param name="MaximumFileSize" value="10MB" />
			<!--日志文件名是否是固定不变的-->
			<param name="StaticLogFileName" value="false" />
			<param name="DatePattern" value="Bocchidesu_yyyy-MM-dd&quot;.log&quot;" />
			<!--日志根据日期滚动-->
			<param name="RollingStyle" value="Date" />
			<!--输出样式设置-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>
	</log4net>
</configuration>